{% extends 'base.html' %}
{% block content %}
<center><u><h3 style="margin:20px;font-weight: bold;">VERVE(Vitality Energy Reset Vigor Enthusiasm)</h3></u></center>
<div style="margin:20px;">
	<p style="font-weight:bold;">Top Panel</p><ul><li>President</li>
<li>Vice-President</li>
<li>Secretary</li>
<li>Joint Secretary</li>
<li>Treasurer</li></ul></div>
<div style="margin:20px;margin-top:40px;">
	<p style="font-weight:bold;">Clubs</p>
	<ul>
		<li>Sports Club (Aaveg)-</li>
		<ul><li>Chairperson</li></ul>
		<li>Dance Club (Neophytes)-</li>
		<ul><li>Chairperson</li></ul>
		<li>Technical Club of CSE & IT (Esoterics Club)-</li>
		<ul><li>Chairperson</li></ul>
		<li>Technical Club of EC & EE (Technominds)-</li>
		<ul><li>Chairperson</li></ul>
		<li>Dramatics Club (Exprimo)-</li>
		<ul><li>Chairperson</li></ul>
		<li>Informals Club (Reformers)-</li>
		<ul><li>Chairperson</li></ul>
		<li>Singing Club (Raaga)-</li>
		<ul><li>Chairperson</li></ul>
		<li>Creation Club-</li>
		<ul><li>Chairperson</li></ul>
		<li>Milieu Club-</li>
		<ul><li>Chairperson</li></ul>
		<li>Executive Body</li>
		
	</ul>
</div>

{% endblock content %}