{% extends 'base.html' %}
{% block content %}
<h6 style="margin-top:15px;">ABOUT</h6>
<p style="margin:15px;">Student Ballots System is an electronic framework that works with the running of decisions and studies on the web. Clients are people who cooperate with the framework. All client connection is performed distantly through the client's internet browser. Clients are given an online enrolment structure prior to casting a ballot client should fill online structure and submit subtleties these subtleties are contrasted and subtleties in information base and assuming they match, client is furnished with username and secret key utilizing this data client can login and cast a ballot. On the off chance that conditions are not right passage will be dropped. It contains two level of client's head level and citizen level where each level has diverse usefulness.<br>
This is a student ballot system software is a website develop by Vasudha Varshney, Ishita Banerjee, Himanshi Singh. <br></br>
</p>
<table style="border:1px solid black; width:96%;margin:15px; ">
	<tr>
		<td>Vasudha Varshney</td>
		<td>Ishita Banerjee</td>
		<td>Himanshi Singh</td>
	</tr>
	<tr >
		<td>vasudhavarshney@gmail.com</td>
		<td>ishitabanerjee1999@gmail.com</td>
		<td>aarurajput@gmail.com</td>
	</tr>
	<tr><td>7599900215</td>
		<td>759900211</td>
		<td>7599900214</td></tr>
	</tr>
	
	<table>










{% endblock content %}