{% extends 'base.html' %}
{% block content %}
<div class="content">
        <div class="row">
          <div class="col-lg-4">
            <a href="panel/resultupdate/">
            <div class="card card-chart">
              <div class="card-header">
      
               UPDATES                   <i class='fas fa-arrow-right' style='font-size:10px'></i>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <i class='fas fa-bell' style='font-size:100px;padding-left: 50px'></i>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
              
                </div>
              </div>
            </div>
          </div>
          </a>
          <div class="col-lg-4 col-md-6">
            <a href="/post">
            <div class="card card-chart">
              <div class="card-header">
               POST                   <i class='fas fa-arrow-right' style='font-size:10px'></i>
              
              <div class="card-body">
                <div class="chart-area">
                  <i class='fas fa-address-card' style='font-size:100px;padding-left: 20px'></i>
                  

                  
                </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  
                </div>
              </div>
            </div></a>
          </div>
          <div class="col-lg-4">
            <a href="apply/userinfo">
             <div class="card card-chart">
              <div class="card-header">
              ASPIRANTS INFORMATION                    <i class='fas fa-arrow-right' style='font-size:10px'></i>
              </div>
              <div class="card-body">
                <div class="chart-area">
                <i class='fas fa-users' style='font-size:100px;padding-left: 35px'></i>

                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  
                </div>
              </div>
            </div>
          </div></a>
          
          
        </div>
          
{% endblock content %}